API_PORT=3000

MYSQL_HOST=127.0.0.1
MYSQL_USER=usof
MYSQL_PASSWORD=usofpassword
MYSQL_DATABASE=usof
MYSQL_PORT=3306

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=password

JWT_SECRET=PLZ_DONT_HACK_ME
JWT_REFRESH_SECRET=FRFR_PLZ

NODE_ENV=production
